@if(cartItems.length > 0) {
    <div class="cart-container">
        @for(item of cartItems; track item.id) {    
            <div class="cart-item">
                <div class="product-info">
                    <div class="product-image">
                        <img [src]="item.processedImage" alt="product-image" />
                    </div>
                    <div class="product-details">
                        <div class="item-row">
                            <div class="item-name" [ngClass]="{ 'highlight': item.highlighted }">
                                {{ item.productName }}
                            </div>
                            <div class="item-price">{{ item.unitPrice | currency }}</div>
                            <div class="quantity-controls">
                                <button mat-icon-button [disabled]="item.quantity == 1" (click)="modifyProductQuantity(item.productId, -1)">
                                    <mat-icon>remove-circle_outline</mat-icon>
                                </button>
                                <span class="quantity">{{ item.quantity }}</span>
                                <button mat-icon-button (click)="modifyProductQuantity(item.productId, +1)">
                                    <mat-icon>add-circle_outline</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        
        <div class="total-price">
            Total Amount: {{ order.totalAmount | currency }}
        </div>

        @if(order.couponName != null) {
            <div class="total-price">
                Coupon Applied: {{ order.couponName }}
            </div>
        }

        <div class="total-price">
            Final Amount: {{ order.amount | currency }}
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
        </div>
    </div>

    @if(order.couponName == null) {
        <div class="container">
            <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Code</mat-label>
                    <input matInput type="text" placeholder="Code" formControlName="code"/>
                    @if(couponForm.get('code')?.hasError('required')) {
                        <mat-error>This input is required!</mat-error>
                    }
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">Apply Coupon</button>
            </form>
        </div>
    }
} @else {
    <ng-container *ngTemplateOutlet="emptyCart"></ng-container>
}


<ng-template #emptyCart>
    <div class="empty-cart">
        <mat-icon class="icon">remove_shopping_cart</mat-icon>
        <span>Nothing to see here</span>
    </div>
</ng-template>